main{
    display: flex;
    padding: 10px;
    border: 3px green solid;
}

#colonna{
    
    flex-direction: column;
}

#colonna > div{
    border: 2px black solid;
    width: 30px;
    height: 80px;
}